body{
    margin: 0;
}
.content {
    padding: 1px;
    
}
.burger{
    background-image: url(burger.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    
    padding: 1px;
    min-height:200px;

    position: relative;
    
}
.menu{
    display: grid;
    gap: 3px;
    margin-top: 3px;
}
.food{
    background-image: url(sushi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 1px;
    min-height: 90px;
    position: relative;
}
.food2{
    background-image: url(rajcata.jpg);
    background-size: cover;
    background-position: center;
    padding: 1px;
    min-height: 90px;
    position: relative;
}
.menu2{
    display: grid;
    gap: 3px;
    margin-top: 3px;
}
.food3{
    background-image: url(grilovani.jpg);
    background-size: cover;
    background-position: center;

    padding: 1px;
    min-height: 90px;
    position: relative;
}
.food4{
    background-image: url(kure.jpg);
    background-size: cover;
    background-position: center;


    padding: 1px;
    min-height: 90px;
    position: relative;
}
@media (max-width: 600px) {
    .content {
      padding: 20px;
    }
  
    .burger {
      min-height: 250px;
    }
    .food, .food2, .food3, .food4 {
      min-height: 150px;
    }
  
    .menu {
      grid-template-columns: repeat(2, 1fr);
    }
    .menu2 {
        grid-template-columns: repeat(2, 1fr);
      }
  }
  
  @media (max-width: 1020px) {
    
    .burger {
      min-height: 400px;
    }
  
    .food, .food2, .food3, .food4 {
      min-height: 200px;
    }

  }

  @media (min-width: 1021px) {
    .burger {
      width: 100%;
    }
    .content{
      display: flex;
      flex-direction: row; 
    }
.menu {
  width: 50%;
}
.menu2 {
  width: 50%;
}
  }